---
layout: page
title: About me
subtitle: 'Or: why you would want to talk to me'
css: /css/aboutme.css
published: true
---

<div id="aboutme-section">

<p class="about-text">
<span class="fa fa-briefcase about-icon"></span>
I am currently working as a Data Analyst at WebEngage.

<p class="about-text">
<span class="fa fa-graduation-cap about-icon"></span>
I finished my schooling phase of life with a Bachelors in <strong>Civil</strong> from <a href="https://vjti.ac.in/" target="_blank">Veermata Jijabai Technological Institute</a>. During my college days explored the field of </strong>Data Science</strong> and gradually developed an interest in it.
</p>

<p class="about-text">
  <span class="fa fa-code about-icon"></span>
  I have knowledge of Python, MySQL, Power BI, and Statistics and currently studying Machine Learning from  <a href="https://ineuron.ai/" target="_blank">iNeuron</a> under their Full Stack Data Science program.
  </p>

<p class="about-text">
  <span class="fa fa-gear about-icon"></span>
  I am proficient with verbal and written communication and have strong analytical, problem-solving, and presentation skills along with technical skills. </p>
  

<p class="about-text">
<span class="fa fa-heart about-icon"></span>
I enjoy listening <strong>podcasts</strong>, drawing <strong>paintings</strong> and <strong>cooking</strong>
</p>

<p class="about-text">
<span class="fa fa-file-text-o about-icon"></span>
The <strong><a href="/projects">projects</a></strong> page is a nice place to see some of my work, but you can also view my <a href="http://ghugejanhavi.github.io/Janhavi_Ghuge_Resume_Data_Analyst.pdf" target="_blank">resume</a>. 
</p>


</div>

<div id="contactme-section">
<h1 id="contact">Contact</h1>

<p>You can find <a href="ghugejanhavi@gmail.com">my email</a> and social media links at the bottom of every page. I love talking to new people so don't hesitate to send a message!</p>

<form action="https://formspree.io/f/mgepyyeo" method="POST" class="form" id="contact-form">
  <p>You can also send me a quick message using the form below:</p>
  <div class="row">
    <div class="col-xs-6">
      <input type="email" name="_replyto" class="form-control input-lg" placeholder="Email" title="Email">
    </div>
    <div class="col-xs-6">
      <input type="text" name="name" class="form-control input-lg" placeholder="Name" title="Name">
    </div>
  </div>
  <input type="hidden" name="_subject" value="New submission from shahrajat.com">
  <textarea type="text" name="content" class="form-control input-lg" placeholder="Message" title="Message" required="required" rows="3"></textarea>
  <input type="text" name="_gotcha" style="display:none">
  <input type="hidden" name="_next" value="./aboutme?message=Your message was sent successfully, thanks!" />
  <button type="submit" class="btn btn-lg btn-primary">Submit</button>
</form>

</div>

<br/><br/>
<hr class="small" />

